<footer>
    <div class="f-info  mt-5">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            
 
        </div>
        <div class="f-info-brand"> &copy;Stay Point </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">terms</a>
           <a href="/payment-policy">payment-policy</a>
        </div>

         <div class="f-info-links">
        <div id="lang">  
            <div id="google_translate_element"></div>
            <script src="https://translate.google.com/translate_a/element.js?cb=translateInit"></script>
            <script>
              function translateInit() {
                new google.translate.TranslateElement(
                  { pageLanguage: "en" },
                  "google_translate_element"
                );
              }
            </script>
             </div>
            </div>
    </div>
</footer>
