<% layout('/layouts/boilerplate.ejs') -%>

<body >
  <div class="headHostEarn">
    <h1>Host & Earn!</h1>
  </div>

  <div class="host"> 
  <p>Welcome to Host & Earn, your premier platform for transforming your home into a lucrative source of income. At Host & Earn, we believe that every space has the potential to become a cherished destination for travelers seeking authentic experiences.</p>

  <p>As a host with Host & Earn, you're not just opening your doors—you're inviting guests into a world of comfort, charm, and hospitality. Whether you're sharing a cozy room in your home or offering a sprawling vacation rental, our platform empowers you to showcase your space to a global audience of discerning travelers.</p>
  
  <p>What sets us apart is our commitment to providing hosts with the tools, support, and resources they need to thrive. From easy-to-use listing tools to personalized assistance from our dedicated support team, we're here to ensure your hosting journey is as rewarding as it is seamless.</p>
  
  <p>But more than just a platform for earning extra income. It's a community of passionate hosts who share a love for hospitality and a desire to create memorable experiences for guests. Whether you're a seasoned host or new to the world of hosting, you'll find a supportive network of like-minded individuals ready to help you succeed.</p>
  
  <p>So why wait? Join the Host & Earn community today and unlock the full potential of your home. Whether you're looking to supplement your income, connect with travelers from around the world, or simply share your passion for hosting, Host & Earn is your partner in hospitality.</p>
</div>

<form method="GET" action="/Listings/new">
    <button type="submit" class="btn btn-primary mb-5">List Now</button>
</form>
</body>
